Repository zulfi007/erpnext, changes with the owners that CODEOWNERS names for each.
All owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar, @marination, @rohitwaghchaure, @s-aga-r, @NagariaHussain, @rutwikhdev, @chillaranand, @ruchamahabal, @ankush, @gavindsouza

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

erpnext/accounts/               @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
erpnext/assets/                 @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
erpnext/erpnext_integrations/   @nextchamp-saqib
erpnext/loan_management/        @nextchamp-saqib @deepeshgarg007
erpnext/regional                @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
erpnext/selling                 @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
erpnext/support/                @nextchamp-saqib @deepeshgarg007
pos*                            @nextchamp-saqib

erpnext/buying/                 @marination @rohitwaghchaure @s-aga-r
erpnext/e_commerce/             @marination
erpnext/maintenance/            @marination @rohitwaghchaure @s-aga-r
erpnext/manufacturing/          @marination @rohitwaghchaure @s-aga-r
erpnext/portal/                 @marination
erpnext/quality_management/     @marination @rohitwaghchaure @s-aga-r
erpnext/shopping_cart/          @marination
erpnext/stock/                  @marination @rohitwaghchaure @s-aga-r

erpnext/crm/                    @NagariaHussain
erpnext/education/              @rutwikhdev
erpnext/healthcare/             @chillaranand
erpnext/hr/                     @ruchamahabal
erpnext/non_profit/             @ruchamahabal
erpnext/payroll                 @ruchamahabal
erpnext/projects/               @ruchamahabal

erpnext/controllers             @deepeshgarg007 @nextchamp-saqib @rohitwaghchaure @marination
erpnext/patches/                @deepeshgarg007 @nextchamp-saqib @marination rohitwaghchaure
erpnext/public/                 @nextchamp-saqib @marination

.github/                        @ankush
requirements.txt                @gavindsouza @ankush

fix: weight bug resolved
  erpnext/stock/report/stock_position/stock_position.py
Owners: @marination, @rohitwaghchaure, @s-aga-r

fix: receivable report date display
  erpnext/accounts/report/simple_account_receivable_summary/simple_account_receivable_summary.html
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

Financial reports' roles are secured
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.json
  erpnext/accounts/report/gross_and_net_profit_report/gross_and_net_profit_report.json
  erpnext/accounts/report/gross_profit/gross_profit.json
  erpnext/accounts/report/profit_and_loss_statement/profit_and_loss_statement.json
  erpnext/accounts/report/profitability_analysis/profitability_analysis.json
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

permission of reports restricted
  erpnext/accounts/report/consolidated_financial_statement/consolidated_financial_statement.json
  erpnext/accounts/report/gross_and_net_profit_report/gross_and_net_profit_report.json
  erpnext/accounts/report/gross_profit/gross_profit.json
  erpnext/accounts/report/profit_and_loss_statement/profit_and_loss_statement.json
  erpnext/accounts/report/profitability_analysis/profitability_analysis.json
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

add: added more options in List
  erpnext/hr/doctype/vehicle_service/vehicle_service.json
Owners: @ruchamahabal

fix: row total in report
  erpnext/stock/report/stock_ageing/stock_ageing.json
Owners: @marination, @rohitwaghchaure, @s-aga-r

add: stock out of stock report based on supply outage
  erpnext/stock/report/item_out_of_stock_report/__init__.py
  erpnext/stock/report/item_out_of_stock_report/item_out_of_stock_report.js
  erpnext/stock/report/item_out_of_stock_report/item_out_of_stock_report.json
  erpnext/stock/report/item_out_of_stock_report/item_out_of_stock_report.py
Owners: @marination, @rohitwaghchaure, @s-aga-r
